includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - app
        - database
        - routes
        - tests
    excludePaths:
        - database/migrations/*_create_pulse_tables.php
        - database/migrations/*_create_telescope_entries_table.php
